body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
  width: 100%;
  display: flex;
  align-items: center;
}
.container{

  padding: 40px 20px;
  border-radius: 7px;
  width: 100%;
}
.article{
  background-color: #555;
  border-radius: 7px;
  padding: 29px 10px;
  margin: 22px 1px;
}

